*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1, h2 {
    font-family: "Lobster";
    color: rgb(179, 55, 55);
}
h1{
    font-size: 6rem;
    text-align: center;
    margin: 35px 35px;
}
h2{
    font-size: 2rem;
    text-align: center;
    margin: 25px;
   
}
h3 {
    font-size: 0.8rem;
    font-family: serif;
    color: white;
  
}
.container {
    text-align: center;
    padding: 45px;
    margin-bottom: 50px;
}
.dice1 {
    display: inline-flex;
    flex-direction: column;
    padding: 45px 25px;
    
}
.dice2 {
    display: inline-flex;
    flex-direction: column;
    padding: 0px 25px;
}
